body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    text-align: center;
}

.container {
    background-color: #fff;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #007BFF;
    font-size: 24px;
    margin-bottom: 20px;
}

.input-section {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

label,
input {
    width: 48%;
    font-size: 16px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}


button:hover {
    transform: scale(1.05);
}


body {
    background: linear-gradient(45deg, #007BFF, #00AAFF);
    background-size: 200% 200%;
    animation: gradient 5s linear infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}